
.article_card{
    box-shadow:  1px 5px 5px rgba(6, 6, 6, 0.18);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fefefe;
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding-bottom: 20px;
    padding-left: 20px;
}

.tag_box{
    font-size:140%;

    color: #05444c;
    padding-left:10px ;
    padding-right: 10px;
    border: solid 1px #05444c;
    min-height: 30px;
    border-radius: 5px 5px;
    margin: 10px;
   display: inline-block;
}
.link_redacteur:hover{
    text-decoration: underline;

}

.article_detail_back{
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
    position: fixed;
    top: 0;
    left:0 ;
    width: 100vw;
    height: 100vh;
    text-align: center;


}

.article_detail_body{
    color: #001531;
    z-index: 101;
    border-radius: 7px 7px;
    background-color: snow;
    border: solid 2px #001531;

    font-size: 150%;
    padding: 30px;
    overflow: hidden;

    height: 80vh;
    width: 90vw;
    margin-top: 10vh;
    margin-left: 5vw;
}


.comment_mail{
    text-align: left;
    font-weight: normal;
    font-size: 80%;
    color: #261326;
    display: flex;
    flex-wrap: nowrap;
    overflow: no-display;
}
.comment_txt{
    text-align: left;
    font-weight: lighter;
    font-size: 70%;

    color: #2e3131;
    border-radius: 3px 3px;
    display: flex;
    flex-wrap: wrap;
}
.comment_time{
    text-align: right;
    font-weight: lighter;
    font-size: 60%;
}
.mail_time{
    display: flex;
    flex-wrap: wrap;
}