
.title_zone_new{
    color:#002148;
    font-family: "Exo", "Quicksand SemiBold";
}

.label_new{

    color: rgba(80, 80, 80, 0.73);
    font-weight: normal;
    font-size: 2em;
    font-family: "Exo", "Quicksand SemiBold";
}


.update_title{
    color: #002143;
    font-family: Quicksand;
    font-weight: lighter;

}