.zero_pad{
    padding-left: 0;
    padding-right: 0;
}

.menu_item{

    color: snow;
    background-color:#002143 ;
    min-height: 60px;
    padding-top: 15px;
    border: 0;
    text-decoration: none;
    display: block;
}
.menu_item:hover{
    background-color: #0f345b;
}
a.menu_item{

    color: snow;
    background-color:#002143 ;
    min-height: 60px;
    border: 0;
    padding-top: 15px;
    text-decoration: none;
    display: block;
}

a.menu_item:hover{
    text-decoration: none;
    background-color: #0f345b;
}

.menu_holder{
    font-weight: lighter;
    font-family: Quicksand;
    font-size: 150%;
    padding: 0;

    min-height: 60px;
    background-color: #002143;
}

.image_logo_redaction{
    background-color: #bac9d9;
    margin-top: 0;
    border-radius: 5px 5px;
    height: auto ;
    width: 100%;
    margin-bottom: 10px;

    overflow: hidden;
}

.image_logo{
    margin-top: 0;
    padding: 0;
    height: 40px;
    width: 40px;
}


.role_selection{

    min-height: 300px;
    background-color: #1f3d61;
    line-height: 150%;
    color: snow;
    font-family: "Exo", "Quicksand SemiBold";
    font-weight: lighter;
    font-size: 150%;
    border: solid 1px #dbdbdb;
    box-shadow:  5px 5px 5px rgba(6, 6, 6, 0.21);
    cursor: pointer;
    padding: 20px;
    background-image: linear-gradient(to top right,#001531,#002148);


}
.role_selection:hover{
    background-color: #1f3d61;
    background-image: linear-gradient(to top right,#1f3d61,#002148);

}

.first_all{
    background-image: linear-gradient(to top right , #bac9d9,#001531);
    height: 100vh;
    color: snow;
    font-family: "Exo", "Quicksand SemiBold";
}

.menu_mod{
    font-weight: lighter;
    font-family: Quicksand;
    font-size: 150%;
    padding: 0;
    min-height: 60px;
    background-color: #002143;
    height: 100vh;
}