.my_text_box_v2{
    border-radius: 5px 5px;
    border: solid 1px #c4c4c4;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;


}
.my_text_box_v2:focus{
    border: solid 1px white;
}

.my_button_submit{
    border-radius: 5px 5px;
    outline: none;
    color: snow;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff4275;
    font-weight: lighter;
    border: solid 0.4mm #ff4275;
    width: 100%;
    font-size: 1.8em;
}

.my_button_deep_blue,a.my_button_deep_blue {
    border-radius: 3px 3px;
    outline: none;
    color: snow;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #002143;
    font-weight: lighter;
    font-family: "Quicksand" ;
    border: solid 0.4mm #002143;
    width: 80%;
    margin-left: 10%;
    display: block;
}

.my_button_deep_blue:hover{
    background-color: #002b63;
}


a.my_button_deep_blue:hover{
    color: snow;
    text-decoration: none;
}

a.my_button_deep_blue {
    background-color: #002143;

    text-decoration: none;
}
a.my_button_deep_blue a:hover{

    background-color: #002b63;
    text-decoration: none;
}





.my_button_light_blue,a.my_button_light_blue {
    border-radius: 3px 3px;
    outline: none;
    color: #002143;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    font-weight: lighter;
    font-family: "Quicksand" ;
    border: solid 0.4mm #002143;
    width: 80%;
    margin-left: 10%;
    display: block;
}

.my_button_light_blue:hover{
    background-color: #ffffff;
}
a.my_button_light_blue:hover{
    text-decoration: none;
}
a.my_button_light_blue {
    background-color: #ffffff;
    text-decoration: none;
}
a.my_button_light_blue a:hover{
    background-color: #ffffff;
    text-decoration: none;
}





.my_text_box_v4{
    border-radius: 5px 5px;
    border: solid 1px #001126;
    background-color: transparent;
    color: #0a090e;
    width: 100%;
    padding-left: 15px;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Exo", "Quicksand SemiBold";
    font-weight: lighter;
    font-size: 110%;
}
.my_text_box_v4:focus{
    border: solid 1px #003b84;
}


.my_text_box_v6{
    border-radius: 5px 5px;
    border: solid 1px #001126;
    background-color: transparent;
    color: #001531;
    width: 100%;
    outline: none;

    height: 30px;
    font-size: 140%;
    margin-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-family: Quicksand;
    height: available;


}
.my_text_box_v6:focus{
    border: solid 1px #003b84;
}

.footer_style{

    background-image:linear-gradient(to top , #0a090e , #313035);
}